<nav>
  <ul>
    <li><%= link_to_unless_current "Home", root_path %></li>
    <li><%=link_to_unless_current "Signup", signup_path %></li>
    <li><%= link_to_unless_current "Login", new_session_path %></li>
  </ul>
</nav>
